
<div class="modalContentImage">
    <div class="closeButtonContainer">
        <button class="closeButton" (click)="closeImage()">X</button>
    </div>
    <div class="custom-modal">
        <div class="modal-content">
            <div *ngIf="selectedOption === 'Gallery'" class="galleryChoose">
                <app-create-photo-gallery></app-create-photo-gallery>
            </div>
            <div *ngIf="selectedOption === 'Cover'" class="cardChoose">
                <app-create-card></app-create-card>
            </div>
        </div>
        <div class="createContainer">
            <div class="tag-input">
                <select class="tag-input" [(ngModel)]="selectedOption">
                    <option class="tag-input" value="Gallery">Gallery</option>
                    <option class="tag-input" value="Cover">Cover</option>
                </select>
            </div>
            <div class="saveButton">
                <!-- <div class="overlay" *ngIf="save"></div> -->
                <button (click)="saveEvent()">Save</button>
            </div>
        </div>
    </div>
</div>
