<div class="eventContainer" *ngIf="event">
    <div class="userNavBar">
        <app-user-nav></app-user-nav>
    </div>
    <div class="wrapper-main">
        <div class="eventContent1">
            <div class="titleContainer">
                <h1 class="title">{{event.eventName}}</h1>
            </div>
            <div class="photoGalleryContainer">
                <app-photo-gallery></app-photo-gallery>
            </div>
            <div class="descriptionContainer">
                <div class="description">
                    <div class="classguests">
                        Participants: {{event.nrGuests}}
                    </div>
                    <div class="eventDate">
                        <h3 class="subTitles">Event Duration</h3>
                        <p class="dateInfo">Start:{{event.startTime}}</p>
                        <p class="dateInfo">End:{{event.endTime}}</p>
                    </div>
                    <div class="locationContainer">
                        <h3 class="subTitles">Location</h3>
                        <p>{{event.idLocation}}</p>
                    </div>
                    <div class="hostContainer">
                        <h3 class="subTitles">Host Name</h3>
                        <p>{{event.organizerName}}</p>
                    </div>
                    <div class="actualDesc">
                        <h3 class="subTitles">About this space</h3>
                        <p class="acutalEventDesc">{{event.description}}
                        </p>
                    </div>

                    <div class="ratingSlide">
                        <h3 class="subTitles">Reviews</h3>
                        <ng-container *ngIf="feedbacks.length > 0; else noReviews">
                            <app-review-list [reviews]="feedbacks"></app-review-list>
                        </ng-container>
                        <!-- Mesajul afișat atunci când lista de recenzii este goală -->
                        <ng-template #noReviews>
                            <p>There are no reviews yet...</p>
                        </ng-template>
                    </div>
                </div>
                <div class="purchaseContainer">
                    <ng-container *ngIf="!myEvent">
                        <ng-container *ngIf="!event.available ||event.nrGuests<=0; else purchaseNotAvailable">
                            <div class="availableContainer">
                                <h2>The event is not available at the moment...</h2>
                            </div>
                        </ng-container>
                        <ng-template #purchaseNotAvailable>
                            <form *ngIf="event.available" [formGroup]="purchaseForm">
                                <app-purchase [event]="event" [purchaseForm]="purchaseForm"></app-purchase>
                            </form>
                        </ng-template>
                    </ng-container>
                    
                </div>
            </div>
        </div>