<div class="eventContainer" *ngIf="event">
    <div class="userNavBar">
    <app-user-nav></app-user-nav>
    </div>
    <div class="wrapper-main">
        <div class="eventContent1">
            <div class="titleContainer">
                <h1 class="title">{{event.eventName}}</h1>
            </div>
            <div class="photoGalleryContainer">
                <app-photo-gallery></app-photo-gallery>
            </div>
            <div class="descriptionContainer">
                <div class="description">
                    <div class="classguests">
                       Participants: {{event.nrGuests}}
                    </div>
                    <div class="eventDate">
                        <h3 class="subTitles">Event Duration</h3>
                        <p class="dateInfo">Start:{{event.startTime}}</p>
                        <p class="dateInfo">End:{{event.endTime}}</p>
                    </div>
                    <div class="locationContainer">
                        <h3 class="subTitles">Location</h3>
                        <p>{{event.idLocation}}</p>
                    </div>
                    <div class="hostContainer">
                        <h3 class="subTitles">Host Name</h3>
                        <p>{{event.organizerName}}</p>
                    </div>
                    <div class="actualDesc">
                        <h3 class="subTitles">About this space</h3>
                        <p class="acutalEventDesc">{{event.description}}
                        </p>
                    </div>
                    
                    <div class="ratingSlide">
                        <h3 class="subTitles">Reviews</h3>
                        <div class="button-container">
                            <button class="prev-button" (click)="prevSet()"><svg  class="icon-svg"viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M11 9L8 12M8 12L11 15M8 12H16M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                                            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                            </button>
                            <div class="review-container">
                                <div class="review-list snaps-inline" appScroll>
                                    <ng-container class="media-scroller">
                                        <app-review class='reviewItem' [review]="review" *ngFor="let review of reviews"></app-review>
                                    </ng-container>
                                </div>
                            </div>
                            <button class="next-button" (click)="nextSet()">
                                <svg class="icon-svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M13 15L16 12M16 12L13 9M16 12H8M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                                            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="purchaseContainer">
                    <form [formGroup]="purchaseForm" >
                      <app-purchase [event]="event" [purchaseForm]="purchaseForm"></app-purchase>
                    </form>
                  </div>
                  
                
                
        </div>
    </div>