<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slide-1" src="./assets/images/poze/barca.jpg" alt="lala"/>
            <img id="slide-2" src="./assets/images/poze/camping.jpg" alt="lala"/>
            <img id="slide-3" src="./assets/images/poze/haha.jpg" alt="lala"/>
            <img id="slide-4" src="./assets/images/poze/barca.jpg" alt="lala"/>
            <img id="slide-5" src="./assets/images/poze/camping.jpg" alt="lala"/>
            <img id="slide-6" src="./assets/images/poze/hihi.jpg" alt="lala"/>
        </div>
        <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
            <a href="#slide-4"></a>
            <a href="#slide-5"></a>
            <a href="#slide-6"></a>
            
        </div>
    </div>
</section>
