<div class="cardPurchase">
    <div class="purchaseContainer2">
      <div class="priceContainer">
        <h3 class="price">Price:</h3>
      </div>
      <div class="dateSelection">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate">
      </div>
      <div class="purchaseButtonContainer">
        <button class="purchaseButton">Purchase</button>
      </div>
    </div>
  </div>
  