<div class="contentPhotoGallery">
  <div class="photo-container-gallery">
    <div class="side-gallery-photos">
      <div class="small-gallery-photo" id="upLeft">
        <input type="file" id="upLeftUpload" name="upLeftUpload" accept="image/*" style="display: none;">
      </div>

      <div class="small-gallery-photo" id="downLeft">
        <input type="file" accept="image/*" id="downLeftUpload" name="downLeftUpload" style="display: none;">
      </div>

    </div>
    <div class="main-gallery-photo" id="main">
      <input type="file" id="mainUpload" name="mainUpload" accept="image/*" style="display: none;">
    </div>

    <div class="side-gallery-photos">
      <div class="small-gallery-photo" id="upRight"></div>
      <div class="small-gallery-photo" id="downRight"></div>
    </div>
  </div>
</div>