<div class="orderTableContainer">
  <div class="tableContainer">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 responsive-table">

      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>User ID</th>
        <td mat-cell *matCellDef="let order">{{ order.userId }}</td>
      </ng-container>

      <ng-container matColumnDef="eventId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Event Name</th> <!-- Adaugat mat-sort-header aici -->
        <td mat-cell *matCellDef="let order">{{ order.eventName }}</td>
      </ng-container>

      <ng-container matColumnDef="orderedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ordered At</th>
        <td mat-cell *matCellDef="let order">{{ formatDateTable(order.orderedAt,'orderedAt') }}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
        <td mat-cell *matCellDef="let order">{{ formatDateTable(order.startDate,'startDate') }}</td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
        <td mat-cell *matCellDef="let order">{{ formatDateTable(order.endDate,'endDate') }}</td>
      </ng-container>

      <ng-container matColumnDef="nrOfGuests">
        <th mat-header-cell *matHeaderCellDef>Number of Guests</th>
        <td mat-cell *matCellDef="let order">
          <ng-container *ngIf="!order.isEditing">
            {{ order.nrOfGuests }}
          </ng-container>
          <ng-container *ngIf="order.isEditing">
            <input matInput type="number" [(ngModel)]="order.nrOfGuests" />
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef>Total Price</th>
        <td mat-cell *matCellDef="let order">{{ order.totalPrice }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let order">
          <button mat-icon-button color="primary" (click)="toggleEdit(order)" [hidden]="type === 'Attendee Orders'"
            [disabled]="order.isEditing">
            <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" *ngIf="order.isEditing" (click)="saveOrder(order)">
            <mat-icon aria-hidden="false" aria-label="Save">save</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteOrder(order)">
            <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngStyle]="{'position': 'sticky', 'top': '0', 'background': '#757575'}"></tr>

      <tr mat-row *matRowDef="let order; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
