<div class="modalContentImage">
    <div class="closeButtonContainer">
        <button class="closeButton" (click)="closeImage()">X</button>
    </div>
    <div class="custom-modal">
        <div class="modal-content">
            <div *ngIf="selectedOption === 'Gallery'" class="galleryChoose">
                <app-photo-gallery></app-photo-gallery>
            </div>
            <div *ngIf="selectedOption === 'Cover'" class="cardChoose">
                <app-event-card></app-event-card>
            </div>
        </div>
        <div class="createContainer">
            <div class="tag-input">
                <select [(ngModel)]="selectedOption">
                    <option value="Gallery">Gallery</option>
                    <option value="Cover">Cover</option>
                </select>
            </div>
            <div class="saveButton">
                <button (click)="saveTags()">Save</button>
            </div>
        </div>
    </div>
</div>
