<div class="containerMainPage">
  <app-nav-component class="homePageNav"></app-nav-component>
  <div class="containerContent">

    <section class="firstContainer">
      <div class="firstPage">
        <div class="animationsFirstPage">
          <h1 class="blackText">
            <span>Need a </span>
            <span class="fadeIn">{{currentText}}</span>
            <span>?</span>
          </h1>
          <h2 class="blackText fadeIn">Look no further!</h2>
        </div>
      </div>
      <div class="secondpage">
        <div class="containerImages">
          <div class="backgroundImageFirst fadeIn">
            <p class="titlesImages">Sun Set</p>
          </div>
          <div class="backgroundImageFirst imageSecond fadeIn">
            <p class="titlesImages">Desert Camping</p>
          </div>
          <div class="backgroundImageFirst imageThird fadeIn">
            <p class="titlesImages">Explore Cairo</p>
          </div>
          <div class="backgroundImageFirst imageForth fadeIn">
            <p class="titlesImages">Descover History</p>
          </div>
          <div class="backgroundImageFirst imageFifth fadeIn">
            <p class="titlesImages">Fly thu the skies</p>
          </div>
          <div class="backgroundImageFirst imageSixth fadeIn">
            <p class="titlesImages">Conquer the mountains</p>
          </div>
          <div class="backgroundImageFirst imageSeventh fadeIn">
            <p class="titlesImages">Dune hiking</p>
          </div>
          <div class="backgroundImageFirst imageEigth fadeIn">
            <p class="titlesImages">Ducks</p>
          </div>
          <div class="backgroundImageFirst imageNineth fadeIn">
            <p class="titlesImages">
              Venice
              </p>
          </div>
        </div>
      </div>
    </section>

    <section class="secondContainer">
      <div class="secondPage">
        <div class="contendLeft">
          <div class="smallerPhoto">
            <p class="titlesImages">Cross the city</p>
          </div>
          <div class="textSecond">
            
            
          </div>
          <div class="rightPhoto">
            <p class="titlesImages">Be at pace</p>

          </div>
        </div>
        <div class="contendRight">
          <div class="writingContainer">
          <h1 class="whiteText">
            <h1 class="makeText"> 
              Search for adventure!
            </h1>
           
          </h1>
          <p class="slogan">Discover unforgettable outdoor experiences tailored just for you. Whether you're seeking a thrilling adventure or a peaceful escape into nature, your next journey begins here.</p>
        </div>
        </div>
       
      </div>
    
    </section>


    <section class="loginContainer">
      <div class="backgroundImage"></div>
      <div id="popUpdiv" class="popUpdiv" *ngIf="!loginPopupOpen && !registerPopupOpen">
     
        <app-login-component></app-login-component>
      </div>
      <div class="sign">
        <h1 class="whiteText">
          <span>Sign up to</span>
          <span>make it happen!</span>
        </h1>
      </div>
    </section>

    <div class="popup-overlay" *ngIf="loginPopupOpen || registerPopupOpen">
      <div class="popup-wrapper">
        <app-login-component class="overlayPoPup" *ngIf="loginPopupOpen"></app-login-component>

        <app-register-component class="overlayPoPup" *ngIf="registerPopupOpen"></app-register-component>

        <div #modal></div>

      </div>
    </div>

  </div>

 