<div class="main-container">
    <app-side-nav></app-side-nav>
    <div class="content">
      <h1 class="title">Events 2024 Overview</h1>
      <p class="description">Number of created events for each month</p>
      <div class="chart-container">
        <ngx-charts-bar-vertical
        [results]="data"
        [showDataLabel]="true"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [yAxisTickFormatting]="formatTicks"
        >
      </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
  