

.photo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 50px; */
    /* margin-bottom: 50px;
    width: 1000px;
    height: 1000px; */
  }  

  .main-photo {
    width: 650px; 
    height: 450px; 
    margin: 5px;
    position: relative;
    background-color: antiquewhite;
    align-content: center;
    border-radius: 20px;
    border: 4px dashed #ccc;
  }

  .centerSVG{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side-photos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    height: 450px;
    /* background-color: rgb(165, 149, 149); */
    /* margin-top: 20px; */
  }

  .small-photo {
    /* width: 100%;  */
    height: 100%;
    padding: 5px;
    margin-top: 5px; 
    align-items: center;
    background-color: rgb(163, 163, 163);
    align-content: center;
    border-radius: 20px;
    border: 2px dashed #ccc
  }

  .small-photo img,
.main-photo img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  overflow: clip;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;;
  border-radius: 20px;
}




.small-photo img:hover,
.main-photo img:hover {
  transform: scale(1.01); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.file-input-label{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.file-input-label svg{
  width: 70px;
  height: 100px;
  /* background-color: gray; */
  cursor: pointer;
  transition: transform 0.3s ease;
  justify-self: center;
}

.file-input-label svg:hover{
  transform: scale(1.1); 
}

.buttonContainer{
    position: absolute;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
}

.showPhotos {
  padding: 15px 15px; 
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(207,207,207);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: x-large;
}


.showPhotos:hover{
  background-color: rgb(136, 136, 136);
}


/* @media only screen and (min-width: 1700px) {
 
  .small-photo {
    width: 250px; 
    height: 200px; 
    margin: 5px;
  }

  .main-photo {
    width: 500px; 
    height: 100%; 
    margin: 5px;
  }

  .showPhotos{
    font-size: 12px;
  }
} */



@media only screen and (max-width: 1600px) {
 
  .side-photos {
    width: 250px;
    height: 380px;
  }

  .main-photo {
    width: 500px; 
    height: 350px; 
  }

}

/* 
@media only screen and (max-width: 620px) {
 
  .small-photo {
    width: 150px; 
    height: auto; 
    margin: 5px;
  }

  .main-photo {
    width: 150px; 
    height: 100%;
    margin: 5px;
  }

  .showPhotos{
    font-size: 15px;
  }
} */

