
<!-- <app-nav-component></app-nav-component> -->

<!-- <app-event-card></app-event-card> -->
<!-- <app-side-nav></app-side-nav> -->
<!-- <app-image-slider></app-image-slider> -->
<!-- <app-event-list></app-event-list> -->

<!-- <app-photo-gallery></app-photo-gallery> -->
<!-- <app-login-component></app-login-component> -->
<!-- <app-register-component></app-register-component> -->
<!-- <app-user-nav></app-user-nav> -->
<!-- <app-purchase></app-purchase> -->
<!-- <app-review></app-review> -->
<!-- <app-image-modal></app-image-modal> -->
<!-- <app-create-card></app-create-card> -->
<!-- <app-modal></app-modal> -->

<!--MAIN PAGES-->
 <!-- <app-home-page></app-home-page> -->
<!--<router-outlet></router-outlet> -->
<!-- <app-user-page></app-user-page> -->
<!-- <app-event-page></app-event-page> -->
<!-- <app-create-event></app-create-event> -->
<!-- <app-order-page></app-order-page> -->
<!-- <app-star-rating></app-star-rating> -->
<div class="containerPageCONTENT">
    <simple-notifications></simple-notifications>
    <router-outlet></router-outlet>
</div>
<!-- <app-verify></app-verify> -->
<!-- <app-success></app-success> -->
<!-- <app-cancel></app-cancel> -->
<!-- <app-stripe></app-stripe> -->
<!-- <app-create-review></app-create-review> -->
<!-- <app-star-rating></app-star-rating> -->
<!-- <app-notification></app-notification> -->
<!-- <app-review-list></app-review-list> -->