<div class="reviewCard">
  <div class="eventNameContainer" *ngIf="myRev">
    <p>Review for: {{review.eventName}}</p>
    <div class="myReviewOptions">
    <div class="buttonColor" (click)="deleteReview(review.id)">
      <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
         fill="#000000">
         <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
         <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
         <g id="SVGRepo_iconCarrier">
            <path d="M724.3 198H296.1l54.1-146.6h320z" fill="#f9fdfa"></path>
            <path
               d="M724.3 216.5H296.1c-6.1 0-11.7-3-15.2-7.9-3.5-5-4.3-11.3-2.2-17L332.8 45c2.7-7.3 9.6-12.1 17.4-12.1h320c7.7 0 14.7 4.8 17.4 12.1l54.1 146.6c2.1 5.7 1.3 12-2.2 17-3.5 4.9-9.2 7.9-15.2 7.9z m-401.6-37h375.1L657.3 69.9H363.1l-40.4 109.6z"
               fill="#0F0F0F"></path>
            <path
               d="M664.3 981.6H339.7c-54.2 0-98.5-43.3-99.6-97.5L223.7 235h572.9l-32.8 651.4c-2.3 53.2-46.1 95.2-99.5 95.2z"
               fill="#c10005"></path>
            <path
               d="M664.3 995H339.7c-29.7 0-57.8-11.4-79-32.2-21.2-20.8-33.3-48.6-34-78.3L210 221.6h600.7L777.2 887c-2.6 60.5-52.2 108-112.9 108zM237.4 248.3l16 635.5c0.5 22.7 9.7 44 25.9 59.8 16.2 15.9 37.7 24.6 60.4 24.6h324.6c46.3 0 84.2-36.2 86.2-82.5l32.1-637.4H237.4z"
               fill="#191919"></path>
            <path
               d="M827.1 239.5H193.3c-22.2 0-40.4-18.2-40.4-40.4v-2.2c0-22.2 18.2-40.4 40.4-40.4h633.8c22.2 0 40.4 18.2 40.4 40.4v2.2c0 22.2-18.2 40.4-40.4 40.4z"
               fill="#000000"></path>
            <path
               d="M826 252.9H194.4c-30.3 0-54.9-24.6-54.9-54.9 0-30.3 24.6-54.9 54.9-54.9H826c30.3 0 54.9 24.6 54.9 54.9s-24.7 54.9-54.9 54.9z m-631.6-83.1c-15.5 0-28.2 12.6-28.2 28.2s12.6 28.2 28.2 28.2H826c15.5 0 28.2-12.6 28.2-28.2 0-15.5-12.6-28.2-28.2-28.2H194.4z"
               fill="#111111"></path>
            <path d="M354.6 430.3v369.6" fill="#f9fdfa"></path>
            <path
               d="M354.6 813.3c-7.4 0-13.4-6-13.4-13.4V430.3c0-7.4 6-13.4 13.4-13.4s13.4 6 13.4 13.4v369.6c-0.1 7.4-6 13.4-13.4 13.4z"
               fill="#0F0F0F"></path>
            <path d="M458.3 430.3v369.6" fill="#f9fdfa"></path>
            <path
               d="M458.3 813.3c-7.4 0-13.4-6-13.4-13.4V430.3c0-7.4 6-13.4 13.4-13.4s13.4 6 13.4 13.4v369.6c0 7.4-6 13.4-13.4 13.4z"
               fill="#0F0F0F"></path>
            <path d="M562.1 430.3v369.6" fill="#f9fdfa"></path>
            <path
               d="M562.1 813.3c-7.4 0-13.4-6-13.4-13.4V430.3c0-7.4 6-13.4 13.4-13.4s13.4 6 13.4 13.4v369.6c-0.1 7.4-6.1 13.4-13.4 13.4z"
               fill="#0F0F0F"></path>
            <path d="M665.8 430.3v369.6" fill="#f9fdfa"></path>
            <path
               d="M665.8 813.3c-7.4 0-13.4-6-13.4-13.4V430.3c0-7.4 6-13.4 13.4-13.4s13.4 6 13.4 13.4v369.6c0 7.4-6 13.4-13.4 13.4z"
               fill="#0F0F0F"></path>
         </g>
      </svg>
      <span>Delete</span>
   </div>

   <div class="buttonColor" (click)="onEditClick()">
      <svg fill="#000000" viewBox="0 0 24 24" id="edit-alt" data-name="Flat Line"
         xmlns="http://www.w3.org/2000/svg" class="icon flat-line">
         <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
         <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
         <g id="SVGRepo_iconCarrier">
            <path id="secondary"
               d="M20.41,7.83,7.24,21H3V16.76L16.17,3.59a1,1,0,0,1,1.42,0l2.82,2.82A1,1,0,0,1,20.41,7.83Z"
               style="fill: #ffffff; stroke-width: 2;"></path>
            <path id="primary"
               d="M20.41,7.83,7.24,21H3V16.76L16.17,3.59a1,1,0,0,1,1.42,0l2.82,2.82A1,1,0,0,1,20.41,7.83Z"
               style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
            </path>
         </g>
      </svg>
      <span>Edit</span>
   </div>
  </div>
  </div>
  <div class="review-header">
    <div class="review-info">
      <p class="review-author">{{ review.userName }}</p>
      <p class="review-date">{{ review.date }}</p>
    </div>
    <div class="review-rating">
      <app-star-rating class="rating" [rating]="getNumericRating()"></app-star-rating>
    </div>
  </div>
  <div class="reviewfooter">
    <h3 class="review-title">{{ review.subject }}</h3>
    <div class="review-content-container">
      <p class="review-content">{{ review.description }}</p>
    </div>
  </div>
  <div class="overlay" *ngIf="myRev"></div>
</div>

