.createReviewContainer{
    --close-button-size: 30px; 
    --close-button-font-size: 20px;
    --font-weight:xx-large;

    font-weight: small;
    font-family: "Josefin Sans", sans-serif;
    width: 300px;
    background-color: #b1b1b1;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    height: auto;
    position: relative;

}

.createReviewContainer h4 {
    margin-bottom: 10px; 
}

.titleReviewContainer,
.descriptionReviewContainer {
    margin-bottom: 15px; 
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
}

.submitbutton {
    display: flex;
    justify-content: center;
    align-items: center;
}


.submitbutton button {
    font-family: "Josefin Sans", sans-serif;
    padding: 10px 20px;
    background-color: #c50808;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    justify-self: center;
    height: 40px;
    font-size: medium;
}

.submitbutton button:hover {
    background-color: red;
}


.closeButtonReview {
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-size: var(--close-button-font-size);
    width: var(--close-button-size);
    height: var(--close-button-size);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #c50808;
  }
  
  .closeButtonReview:hover {
    color: rgb(61, 61, 61);
    background-color: #ffffff;
  }
  
  
  .closeButtonReviewContainer {
    position: absolute;
    top: 10px;
    right: 10px; 
  }

  textarea{
    resize:vertical;
    width: 100%;
    
}

.error {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}

input.ng-invalid.ng-touched, 
textarea.ng-invalid.ng-touched {
    border-color: red;
}


input.ng-valid.ng-touched, 
textarea.ng-valid.ng-touched {
    border-color: green;
}