<body class="registerDiv">
    <div class="closeButtonContainer" *ngIf="registerPopupOpen">
        <button class="closeButton" (click)="closePopup()">X</button> <!-- Close button -->
    </div>
    <div class="registerContent">
        <h2>Welcome to Event Maker</h2>
        <p>First Name<i class="fa fa-info-circle" appToolTip [appToolTip]="'Please enter your First Name'"></i></p>
        <input type="text" name="First Name" [(ngModel)]="registerReq.firstName" (keypress)="keyPressLetters($event)" />
        <p>Last Name</p>
        <input type="text" name="Last Name" [(ngModel)]="registerReq.lastName" (keypress)="keyPressLetters($event)" />
        <p>Phone Number <i class="fa fa-info-circle" appToolTip [appToolTip]="'Please enter only numbers'"></i></p>
        <input type="text" name="Phone Number" [(ngModel)]="registerReq.phoneNumber"
            (keypress)="keyPressNumbers($event)" [ngStyle]="{
                'background-color': (registerReq.phoneNumber.length === 0) ? 'white' : 
                                    (registerReq.phoneNumber.length < 10) ? '#FFCCCC' : 
                                    (registerReq.phoneNumber.length > 10) ? 'red' : 
                                    'lightgreen'
              }">
        <p>Email</p>
        <input type="text" name="Email" [(ngModel)]="registerReq.email">
        <p>Address</p>
        <input type="text" name="Address" [(ngModel)]="registerReq.address">
        <p>Username <i class="fa fa-info-circle" appToolTip [appToolTip]="'Username must be at least 4 characters'"></i></p>
        <input type="text" name="username" [(ngModel)]="registerReq.username" 
        [ngStyle]="{'background-color': (registerReq.username.length==0) ?'white': ( registerReq.username.length < 4) ? '#FFCCCC' : (registerReq.username.length >= 4 ? 'lightgreen' : 'white')}">
        
        <p>Password <i class="fa fa-info-circle" appToolTip [appToolTip]="'Password must be at least 8 characters'"></i></p>
        <input type="password" name="password" [(ngModel)]="registerReq.password" (input)="passwordsMatch()"
            [ngStyle]="{'background-color': (registerReq.password.length === 0) ? 'white' : ((registerReq.password !== confirmPassword)||registerReq.password.length < 8) ? '#FFCCCC' : 'lightgreen'}">
        
        <p>Confirm Password</p>
        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" (input)="passwordsMatch()"  
    [ngStyle]="{'background-color': (confirmPassword.length === 0) ? 'white' : (registerReq.password !== confirmPassword || confirmPassword.length < 8) ? '#FFCCCC' : 'lightgreen'}">

        <span *ngIf="!passwordsMatchs" style="color: red;">Passwords do not match</span>
        <span *ngIf="passwordsMatchs" style="color: green;">Passwords match</span>
        
        <button type="submit" name="register" [disabled]="!passwordsMatchs"
            (click)="confirmRegister()">Register</button>
    </div>
</body>