<div class="biggerDiv">
    <div class="closeButtonContainer">
        <button class="closeButton" (click)="closeEventCreation()">X</button>
    </div>
    <form [formGroup]="eventForm">
        <div class="createEventContent">
            <div class="contentCreate">
                <div class="enterTitle"
                    [ngClass]="{ 'invalid-input': eventForm.get('eventTitle')?.invalid && (eventForm.get('eventTitle')?.dirty || eventForm.get('eventTitle')?.touched) }">
                    <label for="eventTitle">Event Title:</label>
                    <input type="text" id="eventTitle" name="eventTitle" placeholder="Enter event title"
                        formControlName="eventTitle">
                    <div
                        *ngIf="eventForm.get('eventTitle')?.invalid && (eventForm.get('eventTitle')?.dirty || eventForm.get('eventTitle')?.touched)">
                        <div class="errorText" *ngIf="eventForm.get('eventTitle')!.errors!['required']">
                            Title is required.
                        </div>
                    </div>
                </div>

                <div class="enterDescription">
                    <label for="eventDescription">Event Description:</label>
                    <textarea class="area" id="eventDescription" name="eventDescription"
                        placeholder="Enter event description" formControlName="eventDescription"></textarea>
                    <div
                        *ngIf="eventForm.get('eventDescription')?.invalid && (eventForm.get('eventDescription')?.dirty || eventForm.get('eventDescription')?.touched)">
                        <div class="errorText" *ngIf="eventForm.get('eventDescription')!.errors!['required']">
                            Description is required.
                        </div>
                    </div>
                </div>

                <div class="enterType">
                    <label for="eventType">Select Event Type:</label>
                    <select id="eventType" name="eventType" formControlName="eventType"
                        [ngClass]="{ 'invalid-input': eventForm.get('eventType')?.invalid && (eventForm.get('eventType')?.dirty || eventForm.get('eventType')?.touched) }">
                        <option value="" disabled selected>-Select Event Type-</option>
                        <option *ngFor="let eventType of eventTypes" [value]="eventType.idEventType">{{
                            eventType.eventTypeName }}</option>
                    </select>
                    <div
                        *ngIf="eventForm.get('eventType')?.invalid && (eventForm.get('eventType')?.dirty || eventForm.get('eventType')?.touched)">
                        <div class="errorText" *ngIf="eventForm.get('eventType')!.errors!['required']">
                            Please select an event type.
                        </div>
                    </div>
                </div>

                <div class="enterNrGuests"
                    [ngClass]="{ 'invalid-input': eventForm.get('nrGuests')?.invalid && (eventForm.get('nrGuests')?.dirty || eventForm.get('nrGuests')?.touched) }">
                    <label for="nrGuests">Number of Guests:</label>
                    <input type="number" id="nrGuests" name="nrGuests" step="1" min="1"
                        placeholder="Enter number of guests" formControlName="nrGuests">
                    <div
                        *ngIf="eventForm.get('nrGuests')?.invalid && (eventForm.get('nrGuests')?.dirty || eventForm.get('nrGuests')?.touched)">
                        <div class="errorText" *ngIf="eventForm.get('nrGuests')!.errors!['required']">
                            Number of guests is required.
                        </div>
                        <div  class="errorText"*ngIf="eventForm.get('nrGuests')!.errors!['min']">
                            Number of guests must be at least 1.
                        </div>
                    </div>
                </div>

                <div class="enterTicket"
                    [ngClass]="{ 'invalid-input': eventForm.get('ticketPrice')?.invalid && (eventForm.get('ticketPrice')?.dirty || eventForm.get('ticketPrice')?.touched) }">
                    <label for="ticketPrice">Price per day:</label>
                    <input type="number" id="ticketPrice" name="ticketPrice" step="1" min="0"
                        placeholder="Enter ticket price" formControlName="ticketPrice">
                    <div
                        *ngIf="eventForm.get('ticketPrice')?.invalid && (eventForm.get('ticketPrice')?.dirty || eventForm.get('ticketPrice')?.touched)">
                        <div class="errorText" *ngIf="eventForm.get('ticketPrice')!.errors!['required']">
                            Ticket price is required.
                        </div>
                        <div class="errorText" *ngIf="eventForm.get('ticketPrice')!.errors!['min']">
                            Ticket price must be at least 0.
                        </div>
                    </div>
                </div>

                <div class="enterDate"
                [ngClass]="{ 'invalid-input': eventForm.get('startDate')?.hasError('invalidStartDate') && (eventForm.get('startDate')?.dirty || eventForm.get('startDate')?.touched) }">
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate" formControlName="startDate">
                <div class="errorText" *ngIf="eventForm.get('startDate')?.hasError('invalidStartDate')">
                    Start date cannot be greater than current date.
                </div>
           </div>
           
           <div class="enterDate"
                [ngClass]="{ 'invalid-input': eventForm.get('endDate')?.hasError('invalidRange') && (eventForm.get('endDate')?.dirty || eventForm.get('endDate')?.touched) }">
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate" formControlName="endDate">
                <div class="errorText" *ngIf="eventForm.get('endDate')?.hasError('invalidRange')">
                    End date cannot be less than start date.
                </div>
           </div>
           
           

                <div class="enterLocation"
                    [ngClass]="{ 'invalid-input': eventForm.get('location')?.invalid && (eventForm.get('location')?.dirty || eventForm.get('location')?.touched) }">
                    <label>Location:</label>
                    <input type='text' ngx-google-places-autocomplete #placesRef="ngx-places" formControlName="location"
                        (onAddressChange)="handleAddressChange($event)">
                    <div
                        *ngIf="eventForm.get('location')?.invalid && (eventForm.get('location')?.dirty || eventForm.get('location')?.touched)">
                        <div *ngIf="eventForm.get('location')?.invalid && (eventForm.get('location')?.dirty || eventForm.get('location')?.touched)">
                            <div class="errorText" *ngIf="eventForm.get('location')!.errors!['required']">
                                Location is required.
                            </div>
                            <div class="errorText" *ngIf="eventForm.get('location')!.errors!['incompleteLocation']">
                                Please select a location that includes both city and country.
                            </div>
                            <div class="errorText" *ngIf="eventForm.get('location')!.errors!['invalidAddress']">
                                The address entered is invalid.
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="previewPage">
        <div class="overlay" *ngIf="isModalOpen"></div>
        <button *ngIf="!editEvent" class="preview-button" [disabled]="!isFormValid()"
            (click)="previewEvent()">Preview</button>
        <button *ngIf="editEvent" class="preview-button" [disabled]="!isFormValid()"
            (click)="previewEvent()">Edit</button>
    </div>
</div>
<div class="image-modal-container" *ngIf="this.isModalOpen">
    <app-image-modal class="image-modal" (closeModalEvent)="onCloseModal()"></app-image-modal>
</div>