<div class="biggerDiv">
    <div class="closeButtonContainer">
        <button class="closeButton" (click)="closeEventCreation()">X</button>
    </div>
    <div class="createEventContent">
        <div class="contentCreate">
            <div class="enterTitle">
                <label for="eventTitle">Event Title:</label>
                <input type="text" id="eventTitle" name="eventTitle" placeholder="Enter event title" [(ngModel)]="eventDTO.eventName">
            </div>
            <div class="enterDescription">
                <label for="eventDescription">Event Description:</label>
                <textarea class="area" id="eventDescription" name="eventDescription"
                    placeholder="Enter event description" [(ngModel)]="eventDTO.description"></textarea>
            </div>

            <div class="enterType">
                <label for="eventType">Select Event Type:</label>
                <select id="eventType" name="eventType" (change)="onEventTypeChange($event)" required>
                    <option value="" disabled selected>-Select Event Type-</option>
                    <option *ngFor="let eventType of eventTypes" [value]="eventType.idEventType">{{eventType.eventTypeName}}</option>
                </select>
            </div>

            <div class="enterTicket">
                <label for="ticketPrice">Price:</label>
                <input type="number" id="ticketPrice" name="ticketPrice" step="1" placeholder="Enter ticket price" [(ngModel)]="eventDTO.price">
            </div>
            <div class="enterDate">
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate" [(ngModel)]="eventDTO.startTime">
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate" [(ngModel)]="eventDTO.endTime">
            </div>
            <div class="enterLocation">
                <label>Location</label>
                <input type='text' ngx-google-places-autocomplete #placesRef="ngx-places"
                    (onAddressChange)="handleAddressChange($event)" />
            </div>
        </div>

    </div>
    <div class="previewPage">
        <div class="overlay" *ngIf="isModalOpen"></div>
        <button class="preview-button" (click)="previewEvent()">Preview</button>
    </div>
</div>
<div class="image-modal-container" *ngIf="this.isModalOpen">
    <app-image-modal class="image-modal" (closeModalEvent)="onCloseModal()"></app-image-modal>
  </div>