.userFavContainer{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    background: whitesmoke;
    font-family: "Josefin Sans", sans-serif;
      font-optical-sizing: auto;
      /* font-weight: 1000; */
      font-style: xx-large;
      height: 100vh;
}

.userNavBar{
    margin-bottom: 110px;
    width: auto;
    height: auto;
}


.wrapperMain {
    max-width: 900px; 
    margin: 0 auto;
    padding: 10px;   
  }