.biggerDiv{
    max-width: 420px;
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: large;
    position: relative;
    height: 750px;
    overflow-y: auto;
    /* position: relative;  */
    scrollbar-width: none;
    transition: max-height 0.4s ease, padding 0.4s ease; 
    max-height: 800;
     

   
}

.createEventContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}



.contentCreate{
    /* border: 2px solid red ; */
    width: 100%;
    display: grid;
    gap: 25px;
}

.left-column,
.right-column {
    padding: 10px;
    width: 80%; 
}

.createEventContent label {
    display: block;
    margin-bottom: 5px;
}

.createEventContent input[type="text"],
.createEventContent textarea,
.createEventContent select,
.createEventContent input[type="number"],
.createEventContent input[type="date"] {
    
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
   
}

.createEventContent input[type="text"],
.createEventContent textarea{
    resize:vertical;
    width: 100%;
    
}

.enterDescription .area{
    width: 100%;
    height: 100px;
    
}

.createEventContent .enterType label {
    display: block;
}

.createEventContent .enterType select,
.createEventContent .enterTicket input[type="number"] {
    width: calc(50% - 5px); 
}

.createEventContent input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.enterDate{
    font-family: "Josefin Sans", sans-serif;
}

.uploadPhotos {
    /* border: 2px solid blue; */
    width: 100%;
    height: 100%;
    /* margin-left: 120px; */

}

.previewPage {
    text-align: center;
    align-self: center;
}

.preview-button {
    padding: 10px 20px;
    background-color: #ca2626;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-size: large;
    margin-top: 10px;
}

.preview-button:hover {
    background-color: #ec4444;
}

.file-input-label svg {
    width: 70px;
    cursor: pointer;
    margin-top: 20px;
  
}


.previewButtons{
    display: flex;
    justify-content: space-between; 
}

.contentGallery{
    width: 100%;
    height: 100%;
}

.closeButtonContainer {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .closeButton {
    cursor: pointer;
    background-color: #ca2626;
    border: none;
    color: #ffffff;
    font-size: xx-large; 
    width: 30px; 
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: small
  }
  
  .closeButton:hover {
    /* color: rgb(0, 0, 0); */
    background-color: #eb5d5d;
  }

  .image-preview {
    border: 2px dashed ;
    border-radius: 20px;
    height: 400px;
    padding: 20px;
    overflow: auto; 
    position: absolute;
    left: 0; 
    scrollbar-width: none;
    width: 100%;
  }

  .image-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; 
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
  }


  @media only screen and (max-width: 1600px) {
 
    .biggerDiv {
        width: 400px;
        height: 500px; 
        overflow-y: auto;
        position: relative; 
        scrollbar-width: none;
      }
   

  }


  
  /* @media only screen and (max-width: 1500px) {
 
    .biggerDiv {
        width: 400px;
        height: 500px; 
        overflow-y: auto;
        position: relative; 
        scrollbar-width: none;
      }
   

  } */


  .preview-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .invalid-input input {
    border: 1px solid red;
    background-color: #e80000a1;
    color: white;
  }
  
  .errorText{
    color: #ca2626;
  }
  .pac-container{
    position: relative;
    background-color: #ca2626;
  }