.navbarFilter{
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 130px;
  background-color: rgb(207, 207, 207);
  align-items: center;
  z-index: 999;
  display: flex;
  flex-direction: column; 
   justify-content: space-between;
    
}


.buttonsLeftRight{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin-bottom: 35px;
  height: 70px;
}

.buttonsLeftRight button{
  height: 20px;
  background-color: transparent; 
  border: none; 
  border-radius: 200px;
  transition: transform 0.6s ease, box-shadow 0.3s ease;

}

.buttonsLeftRight button:hover{
  transform: scale(1.1);

}

.icon-svg {
  width: 30px; 
  height: auto; 
  border-radius: 200px;
  align-self: center;
}

.icon-svg:hover{

  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}


.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.nav-item{
  width: 10%;
  margin: 1rem;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}



.nav-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  /* width: 2rem;
  margin-left: 2rem; */
  align-items: center;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: flex;
  white-space: nowrap;
  font-weight: bold;
  font-size: small;
}

.nav-link svg {
  width: 2rem;
  
}

.userfunctions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  font-family: "Josefin Sans", sans-serif;
  
}

.logoContainer{
  width: auto;
  height: inherit;
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.logoText{
 margin-left: 50px;
 background-color: transparent;
 font-size: x-large;
}

.searchBarContainer{
  width: auto;
  height: inherit;
  /* background-color: rgb(236, 19, 19); */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.searchBar{
  align-self: center;
  width: 100%;
  border-radius: 20px;
  height: 30px;
  border: 1px black solid;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: inherit;
}

.userImageContainer{
  width: auto;
  height: inherit;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}



.userButton{
  width: 100px;
  height: 45px;
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  margin-right: 50px;
  z-index: 999;
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}

.userButton:hover{
  background-color: #ccc;
}

.buttonsDrop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-toggle {
  padding: 10px 5px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  /* height: 50px; */
  border: none;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  /* left: 0; */
  width: 130px;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 2px solid #000000;
  border-radius:20px;
  list-style: none;
  margin-top: 16px;

}

.dropdown-list li {
  padding: 10px;

  /* background-color: #ca3737; */
  /* border-radius:20px; */
  text-align: center;
  padding: 5px;
  cursor: pointer;
 
}

li {
  position: relative;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none; 
  color: inherit;
}


.custom-dropdown .dropdown-list a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.dropdown-list li:hover {
  background-color: #a0a0a0;
  /* border-radius:25px; */
  
}

.dropdown-list li:first-child {
  border-top-left-radius: 19px; 
  border-top-right-radius: 19px; 
}

.dropdown-list li:last-child {
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px; 
}

.dropdown-list.show {
  display: block;
}

.menuIcon{
  color:black;
}

.textContainer{
  background-color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: medium;
  cursor: pointer;
}

.textContainer:hover{
  /* background-color: #ccc; */
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.logoTextContainer{
  cursor: pointer;
 
}

.logoTextContainer:hover{
  color: white;
}

.notificationIconContainer{
  /* width: 50%; */
  height: 50%;
  margin-right: 35px;
  cursor: pointer;
}

.notifyIcon{
font-weight: 0;
}

.notifyIcon:hover {
  animation: giggle 0.5s ease-in-out infinite; 
}

@keyframes giggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}


/* #navbarFilter {
  transition: height 0.4s ease;
}

#userfunctions {
  transition: margin-top 0.4s ease;
} */

#navbarFilter {
  height: 130px; /* Default height */
  transition: height 0.4s ease;
}

#userfunctions {
  margin-top: 10px; /* Default margin */
  transition: margin-top 0.4s ease;
}
