<div class="adminContent">
    <app-side-nav></app-side-nav>
  
    <div class="mainContent">
      <div class="dashboard">
     
        <div class="dashboard-header">
          <h1>Admin Dashboard</h1>
        </div>
  
      
        <div class="numbersContainer">
          <div class="stat">
            <h2>Events</h2>
            <p>Number of events: <span>{{ eventCount$ | async }}</span></p>
          </div>
          <div class="stat">
            <h2>Users</h2>
            <p>Number of users: <span>{{ userCount$ | async }}</span></p>
          </div>
          <div class="stat">
            <h2>Orders</h2>
            <p>Number of orders: <span>{{ orderCount$ | async }}</span></p>
          </div>
          <div class="stat">
            <h2>Reviews</h2>
            <p>Number of reviews: <span>{{ reviewCount$ | async }}</span></p>
          </div>
      
        </div>
  
      </div>
    </div>
      
  </div>
