
:root {
    --card-width: 250px;
    --card-height: 400px;
  }
  

  .containerCreateCard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* height: 1000px; */
    width: 350px;
   

  }
  
  .backgroundImageCreate {
    width: var(--card-width);
    height: var(--card-height);
    /* position: absolute;
    background-color: rgb(190, 190, 190); */
/*    
    background-size: cover;
    background-position: center; */
    border-radius: 20px;
    border: 3px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .createCard {
 
    background-color: rgb(106, 112, 112);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 5px solid rgba(255, 255, 255, 0.3);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: x-large;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
   
  }
  
  /* .createCard:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); 
  } */
  
  .createTop {
    position: relative;
    background: rgba(172, 14, 14, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: auto;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: x-large;
    font-weight: bold;
    
  }

  .file-input-label{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .file-input-label svg{
    width: 70px;
    height: 100px;
    /* background-color: gray; */
    cursor: pointer;
    transition: transform 0.3s ease,
  }
  
  
  .createPriceCard{
    font-size: 20px;
  }
  
/*   
  .favCard:hover {
    animation: giggle 0.5s ease-in-out infinite; 
  }
   */

  .titleCreateCard {
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    width: 100%;
    height: 50px;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 10px;
    z-index: 999;
  }
  
  .createCard .titleCreate {
    text-shadow: 0 0 5px rgb(0, 0, 0);
  }
  
  .createTop .titleCreate {
    color: #fff;
    font-weight: bolder;
    font-size: x-large;
    margin-left: 10px;
   
  }
  
  .createPriceCard{
    color:white;
    margin:20px;
    opacity: 0;
  }
  
  .createCard .createPriceCard {
    opacity: 0;
    transition: opacity 0.8s ease; 
    transition-delay: 0.8s; 
    text-shadow: 0 0 5px rgba(0, 0, 0, 0); 
  }
  
  .createCard .descCreate {
    color: #fff;
    opacity: 75%;
    font-size: medium;
    font-weight:bold;
    margin-left: 10px;
    margin-top: 5%;
  }
  
  .detailsCreateCard {
    position: absolute;
    color: #fff;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    font-size: medium;
    font-weight: lighter;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
  }
  
  
  
  .createCard .detailsCreateCard {
    opacity: 0;
    bottom: 0;
    left: 0;
  
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    transition: opacity 0.8s ease;
    transition-delay: 0.5s;
  }
  
  
  
  .createCard:hover .detailsCreateCard {
    opacity: 1;
  }
  
  
  .createCard:hover .createPriceCard {
    opacity: 1;
    text-shadow: 0 0 5px rgb(0, 0, 0);
  }
  
  .titleCreate {
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    margin-left: 10px;
    margin-top: 10px;
    font-size: bold;
  }


  @media only screen and (max-width: 1600px) {
 
    .backgroundImageCreate {
      width: 250px;
      height: 380px;
    }

  }
  
  
  
  