.userOrgEventsContainer{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    background: whitesmoke;
    font-family: "Josefin Sans", sans-serif;
      font-optical-sizing: auto;
      /* font-weight: 1000; */
      font-style: xx-large;
      
}

.userNavBar{
    margin-bottom: 120px;
    width: auto;
    height: auto;
}


.wrapperMain {
    max-width: 900px; 
    margin: 0 auto;
    padding: 10px;   
  }
  
  
  @media only screen and (max-width: 1600px) {
   
    .wrapperMain{
      max-width: 900px;
    }
   
  
  }
  .createPop-overlay {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1000; 
  }
  
  
  .popup-wrapperCreate {
    position: relative;
    width: 80%;
    max-width: 450px;
    z-index: 1990;
  }
  