<div class="userFeedbackContainer">
    <div class="userNavBar">
        <app-user-nav class="navBar"></app-user-nav>
    </div>
    <div class="feedbackContent wrapperMainFeedback">
        <div class="titleContainerfeedback" *ngIf="myFeedback.length">
            <h2 class="myEventsTitle">My Reviews:</h2>
        </div>
        <div class="feedbacks">
            <app-review-list [reviews]="myFeedback" [myRev]="true" (editReview)="editReview($event)"></app-review-list>
        </div>
    </div>
</div>
<div class="overlay-container" *ngIf="reviewB">
    <app-create-review 
      [eventData]="{ eventid: selectedReview!.eventId, eventName: selectedReview!.eventName }"
      (closeEdit)="closeReview()"
      >
    </app-create-review>
  </div>
