<div class="userFeedbackContainer">
    <div class="userNavBar">
        <app-user-nav class="navBar"></app-user-nav>
    </div>
    <div class="feedbackContent wrapperMainFeedback">
        <div class="titleContainerfeedback" >
            <h2 class="myEventsTitle">My Reviews:</h2>
        </div>
        <div class="feedbacks" *ngIf="myFeedback.length">
            <app-review-list [reviews]="myFeedback" [myRev]="true" (editReview)="editReview($event)"></app-review-list>
        </div>
        <div class="auxiliarContainer"*ngIf="!myFeedback.length">
            <h3>No reviews yet....</h3>
        </div>
    </div>
</div>
<div class="overlay-container" *ngIf="reviewB">
    <app-create-review 
      [eventData]="{ eventid: selectedReview!.eventId, eventName: selectedReview!.eventName }"
      (closeEdit)="closeReview()"
      >
    </app-create-review>
  </div>
